<nav class="navbar-fixed">
    <nav class="light-blue darken-1">
        <div class="nav-wrapper">
            <div class="brand-logo left active waves-effect wave-light">
                <a id="logo-container"
                   href="/2016/group20/">Group
                    20</a>
            </div>
            <ul class="right hide-on-med-and-down">
                <li><a href="https://github.com/orgs/ATOS-Time-Machine/" target="_blank"><img src="{{ site.baseurl }}/img/github2.png"></a></li>
                <li><a href="/2016/group20/planning.html">Planning</a></li>
                <li><a href="/2016/group20/requirements.html">Requirements</a></li>
                <li><a class="dropdown-button" data-activates="research_dropdown" data-beloworigin="true">Research<i
                        class="material-icons right">arrow_drop_down</i></a>
                </li>
                <li><a href="{{ site.baseurl }}/hci.html">HCI</a></li>
                <li><a href="{{ site.baseurl }}/design.html">Design</a></li>
                <li><a href="/2016/group20/testing.html">Testing</a></li>
                <!--<li><a class="dropdown-button" data-activates="eval_dropdown" data-beloworigin="true">Evaluation<i-->
                        <!--class="material-icons right">arrow_drop_down</i></a></li>-->
                <li><a href="{{ site.baseurl }}/evaluation.html">Evaluation</a></li>
                <li><a class="dropdown-button" data-activates="management_dropdown" data-beloworigin="true">Management<i
                        class="material-icons right">arrow_drop_down</i></a>
                </li>
            </ul>
        </div>
    </nav>
</nav>

<ul id="management_dropdown" class="dropdown-content">
    <li><a href="{{ site.baseurl }}/management/user.html">User Manual</a></li>
    <li><a href="{{ site.baseurl }}/management/system.html">System Manual</a></li>
    <li><a href="{{ site.baseurl }}/management/timeline.html">Timeline</a></li>
</ul>

<ul id="research_dropdown" class="dropdown-content">
    <li><a href="{{ site.baseurl }}/research/dev_methods">Development Methods</a></li>
    <li><a href="{{ site.baseurl }}/research/technical">Technical Report</a></li>
    <li><a href="{{ site.baseurl }}/research/investigation">Investigation</a></li>
</ul>

<ul id="eval_dropdown" class="dropdown-content">
    <li><a href="{{ site.baseurl }}/evaluation/achievements">Achievements</a></li>
    <li><a href="{{ site.baseurl }}/evaluation/critical">Critical Assessment</a></li>
</ul>