---
layout: frame
---
<header>
    <div class="light-blue lighten-1">
        <br><br>

        <h1 class="center white-text">{{ page.title }}</h1>
        <br><br>
    </div>
</header>
<nav class="nav-extended">
    <div class="nav-wrapper">
        <div class="container col">
            <a href="{{ site.baseurl }}/" class="breadcrumb">Home</a>
            <a href="" class="breadcrumb">{{ page.title }}</a>
        </div>
    </div>
    <div class="white-text">
        <ul class="tabs tabs-transparent center" style="width:20em;">
            <li class="tab">
                <a href="#host">Host Setup</a>
            </li>
            <li class="tab">
                <a href="#system">page2</a>
            </li>
        </ul>
    </div>
</nav>

<!--<p>{{ page.path }}</p>-->
{{ content }}